
@using Microsoft.EntityFrameworkCore.Internal

 @model AppUserViewModel;
<h>

<ul>
    <li>
       User Name  @Model.UserName
    </li>

     <li>
         First Name @Model.FirstName
    </li>
        
    <li>
      Last Name     @Model.LastName
    </li>
     <li>
        Phone number @Model.PhoneNumber
    </li>
          
   

 
    
    <li>
       Email  @Model.Email
    
    </li>

   





</ul>
</h>

   <p> Registration sucsesful you can follow to     
       <a asp-area="" asp-controller="Identity" asp-action="Index">Sign in </a>          </p>





  













 
  